@import 'Styles/colors';

.Sidebar {
  position: absolute;
  display: flex;
  top: 4rem;

  background-color: $color_white;
  flex-shrink: 0;

  flex-direction: column;
  user-select: none;
  transition: all .2s;
  width: 20rem;
  padding-top: 1rem;
  height: 100%;
  overflow: scroll;

  div {
    transition: background-color .1s;
    padding: 1rem 2rem;

    &:hover {
      background-color: $color_marine_200;
    }
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    transition: all .4s;

    a {
      color: $color_black;
      text-decoration: none;
      transition: color .1s;
    }

    li {
      padding: .4rem 1rem .4rem 6rem;
      cursor: pointer;

      .active {
        border-bottom: 3px solid $color_marine_600;
      }

      &:hover {
        background-color: $color_marine_200;
      }
    }

    &:last-child {
      margin-bottom: 10vh;
    }
  }
}

.VerticalNav__TopLevel {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
}

.VerticalNav__TopLevelIcon {
  height: 24px;
  width: 24px;
  object-fit: scale-down;
  z-index: 1000;
}

.VerticalNav__TopLevelTitle {
  margin-left: 2rem;
  margin-right: auto;
  text-align: center;
}

.VerticalNav__TopLevelAngle {
  height: 1rem;
  transition: transform .3s;
}

