node_modules
.idea
.DS_Store
.next
dist
src/__tests__/pact
resources
scripts/motif-ui-lambda/motif-ui-components/
scripts/screenshots/
.elasticbeanstalk/app_versions/
/scripts/motif-ui-lambda/motif-ui-components/
/scripts/motif-ui-lambda/screenshots/
