@import "Styles/colors";

.titleDetailView{
  margin-left: 15px;
}

.list {
  overflow: hidden;
  margin: 1rem 2.5rem 1rem 1rem;
  position: relative;
}

.screenshot {
  display:block;
  background-color: $color_gray_200;
  padding: 30px;

  img{
    width: 100%;
  }
}

.NewComponentButton{
  float: right;
  border-color: #0771D0;
  letter-spacing: 0.2px;
  font-size: 16px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  background-color: white;
  color: #0771D0;
  cursor: pointer;
}

.code {
  font-family: monospace;
  padding: 7px;
  display:block;
  background-color: $color_gray_200;
}

.multiselect {
  margin-bottom: 8px;
  width: 40%;
  background: $color_gray_200;
}

.basic-multi-select {
  padding: 50px;
  width: 40%;
  background: $color_gray_200;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background: $color_gray_200;
  width: 25%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 10px;

  .title {
    font-size: 120%;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .tags {
    color: #0771D0;
    font-size: 90%;
    display: inline-flex;
    margin: 2px;
  }
}

.headerNav{
  background: $color_marine_600;
  color: white;
  padding: 50px;
  margin: 0;
  font-family: Roboto, sans-serif;
  front-weight: 500;
  front-style: normal;
  font-size: 16px;
  letter-spacing: 0.2px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    color: #0771D0;
  }

  .active {
    color: #0771D0;
  }
}

.copyButton {
  float:right;
  margin: 10px;
  background: $color_marine_600;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.linkToDetailView{
  text-decoration: none;
  color: inherit;
}

.LinkToBitbucket{
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  front-weight: 500;
  front-style: normal;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.buttonToBitbucket{
  float:right;
  margin: 5px;
  background-color: #0771D0;
  background-blend-mode: normal;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  border: 1px;
}
