@import "Styles/colors";

section
{
  position: absolute;
  width: 80%;
  height: 82%;
  margin: -2rem;
  background: $color_white;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bannerText
{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 700px;
}

.bannerText h2,
.bannerText h3
{
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2
{
  font-size: 6em;
  animation-delay: 2s;
  color: $color_marine_600;
}

.bannerText h3
{
  font-size: 3em;
  animation-delay: 3s;
  color: $color_orange;
}

.bannerText h2:before,
.bannerText h3:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: $color_gray_200;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: revealText 1s ease-in-out forwards;
  animation-delay: 3s;
}

.bannerText h3:before
{
  animation-delay: 4s;
}

@keyframes revealText
{
  0%
  {
    transform: scaleX(1);
  }
  100%
  {
    transform: scaleX(0);
  }
}

@keyframes revealTextReverse
{
  0%
  {
    transform: scaleX(0);
  }
  100%
  {
    transform: scaleX(1);
  }
}

.bannerText p
{
  opacity: 0;
  font-weight: 400;
  font-size: 1.2em;
  animation: fadeIn 1s linear forwards;
  animation-delay: 5s;
  color: $color_black;
}

@keyframes fadeIn
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

.bannerText a
{
  opacity: 0;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 20px;
  background:  $color_marine_600;
  color: $color_white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5.5s;
}

.pointerLink {
  cursor: pointer;
}

@keyframes fadeInBottom
{
  0%
  {
    transform: translateY(50px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight
{
  0%
  {
    transform: translateX(150px);
    opacity: 0;
  }
  100%
  {
    transform: translateX(0);
    opacity: 1;
  }
}

.element1
{
  opacity: 0;
  position: absolute;
  bottom: -50px;
  right: 40%;
  width: 125px;
  height: 125px;
  background-color: $color_orange;
  border: 20px solid $color_orange;
  animation: rotate 40s linear infinite, fadeIn 1s linear forwards;
  animation-delay: 7s;
}

.element2
{
  opacity: 0;
  position: absolute;
  left: -10px;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: $color_marine_600;
  border: 2px solid $color_marine_600;
  animation: rotate 30s linear infinite, fadeIn 1s linear forwards;
  animation-delay: 7s;
}

@keyframes rotate
{
  0%
  {
    transform: rotate(45deg);
  }
  100%
  {
    transform: rotate(405deg);
  }
}