.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% 70%;
  grid-template-areas:
          "....... header"
          "sidebar content";
  background-color: #fff;
  color: #444;
}

.Mocked-Header {
  grid-area: header;
  background-color: hotpink;
  height: 5rem;
}

.Mocked-Sidebar {
  grid-area: sidebar;
  background-color: #bada55;
}

.content {
  grid-area: content;
}



