@import "Styles/colors";

.Content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;

  -ms-box-orient: vertical;
  -ms-line-clamp: 10;

  -moz-box-orient: vertical;
  -moz-line-clamp: 10;

  img {
    width: 100px;
    float: left;
    margin-right: 1rem;
  }

  .blogpostTitle {
    margin: 0 auto 1.5rem auto;

    a {
      &:visited {
        color: black;
      }

      color: black;
      text-decoration: none;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.ContentBox {
  padding: 1rem;
  overflow: hidden;

  button {
    background-color: #0A3761;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .blogpostTitle {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #0A3761;
  }

  .blogpostDate {
    text-align: center;
    font-size: smaller;
    margin-bottom: 2rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .SocialMediaIcons img {
    width: 30px;
    height: 30px;
    display: inline;
    margin-top: 1.5rem;
  }
}

.Menu {
  display: flex;

  button {
    background-color:  #0A3761;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:last-child {
      margin-left: auto;
    }

    &:nth-last-child(2) {
      margin-left: auto;
    }
  }
}

.ContentDetailView {
}

.ButtonNavigation {
  display: flex;
  margin-top: 2rem;

  .ButtonPrevious {
    background-color:  #0A3761;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .ButtonNext {
    background-color:  #0A3761;
    margin-left: auto;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

.HighlightedTeaser {
  @extend .ContentBox;
  margin-left: 0;
  margin-right: 1rem;
  min-height: 15rem;
}

.Autor {
  text-align: center;
  font-size: larger;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  background: $color_gray_200;
  width: 40%;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 10px;
  height: 100%;
  box-shadow: 5px 5px 5px silver;
}

.imageListView {
  max-width: 100%;
  max-height: 200px;
}

.categoryListView{
  color: grey;
  margin-bottom: 3px;
}

.titleListView{
  margin-top: 3px;
  line-height: 25px;
}

.LinkToDetailView{
  text-decoration: none;
  color: inherit;
}

.textListView{
  color: grey;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;

  -ms-box-orient: vertical;
  -ms-line-clamp: 4;

  -moz-box-orient: vertical;
  -moz-line-clamp: 4;
}

.authorListView{
  color: grey;
  display: inline-block;
}

.contentListView{
  padding: 0px 20px 5px;
  font-family: Roboto, sans-serif;
}

.dateListView{
  color: grey;
  float:right;
}