@import "Styles/colors";

.Content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;

  -ms-box-orient: vertical;
  -ms-line-clamp: 10;

  -moz-box-orient: vertical;
  -moz-line-clamp: 10;

  img {
    width: 100px;
    float: left;
    margin-right: 1rem;
  }

  .blogpostTitle {
    margin: 0 auto 1.5rem auto;

    a {
      &:visited {
        color: black;
      }

      color: black;
      text-decoration: none;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.ContentBox {
  padding: 1rem;
  overflow: hidden;

  button {
    border-color: #0771D0;
    letter-spacing: 0.2px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 16px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    background-color: white;
    color: #0771D0;
    background-blend-mode: normal;
  }

  .blogpostTitle {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #0A3761;
  }

  .blogpostDate {
    text-align: center;
    font-size: smaller;
    margin-bottom: 2rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .SocialMediaIcons img {
    width: 30px;
    height: 30px;
    display: inline;
    margin-top: 1.5rem;
  }
}

.Menu {
  display: flex;

  button {
    border-color: #0771D0;
    letter-spacing: 0.2px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 16px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    background-color: white;
    color: #0771D0;
    background-blend-mode: normal;

    &:last-child {
      margin-left: auto;
    }

    &:nth-last-child(2) {
      margin-left: auto;
    }
  }

  button:hover{
    background: #2196F3;
    color: white;
  }
}

.ContentDetailView {
}

.headline{
  display: inline-block;
}

.NewPostButton {
  float: right;
  border-color: #0771D0;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 16px;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  background-color: white;
  color: #0771D0;
  background-blend-mode: normal;
}

.NewPostButton:hover {
  background: #2196F3;
  color: white;
}

.ButtonNavigation {
  display: flex;
  margin-top: 2rem;

  .ButtonPrevious:hover {
    background: #2196F3;
    color: white;
  }

  .ButtonNext {
    margin-left: auto;
  }

  .ButtonNextOnHover:hover {
    background: #2196F3;
    color: white;
  }
}

.HighlightedTeaser {
  @extend .ContentBox;
  margin-left: 0;
  margin-right: 1rem;
  min-height: 15rem;
}

.Autor {
  text-align: center;
  font-size: larger;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  background: $color_gray_200;
  width: 45%;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 10px;
  height: 100%;
  box-shadow: 5px 5px 5px silver;
}

.imageListView {
  max-width: 100%;
  max-height: 200px;
}

.categoryListView{
  color: grey;
  margin-bottom: 3px;
}

.titleListView{
  margin-top: 3px;
  line-height: 25px;
  color: black;
}

.LinkToDetailView{
  text-decoration: none;
}

.textListView{
  color: grey;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;

  -ms-box-orient: vertical;
  -ms-line-clamp: 4;

  -moz-box-orient: vertical;
  -moz-line-clamp: 4;
}

.authorListView{
  color: grey;
  display: inline-block;
}

.contentListView{
  padding: 0px 20px 5px;
  font-family: Roboto, sans-serif;

  hr{
  color: grey;
  }
}

.dateListView{
  color: grey;
  float:right;
}

//Prompt
.promptMessage{
  text-align: center;
}

.promptButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.promptButton{
  background-color: #0771D0;
  background-blend-mode: normal;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.2px;
  border: 1px;
  border-radius: 4px;
  margin: 0 5px;
}