@import 'Styles/colors';

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  background: #f0f0f0;
  width: 25%;
  margin: 5px 3px;
  padding: 10px;
}

.dropdown {
  display: inline-block;
  background-color: $color_gray_200;
  border: none;
  text-align: left;
  font-size: 15px;
  padding: 15px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
