@import "Styles/colors";

.list {
  overflow: hidden;
  margin: 1rem;
  margin-right: 2.5rem;
  position: relative;
}

.screenshot {
  display:block;
  background-color: $color_gray_200;
  padding: 30px;
}

.code {
  font-family: monospace;
  padding: 30px;
  display:block;
  background-color: $color_gray_200;
}

.multiselect {
  margin: 5px;
  width: 40%;
  background: $color_gray_200;
}

.basic-multi-select {
  margin: 5px;
  padding: 50px;
  width: 40%;
  background: $color_gray_200;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  background: $color_gray_200;
  width: 25%;
  margin: 7px 2px;
  padding: 10px;

  .title {
    font-size: 120%;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .tags {
    color: blue;
    font-size: 90%;
    display: inline-flex;
    margin: 0px;
  }
}

.headerNav{
  background: $color_marine_600;
  color: white;
  padding: 50px;
  margin: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    color: $color_orange;
  }

  .active {
    color: $color_orange;
  }
}

.copyButton {
  float:right;
  margin: 10px;
  background: $color_marine_600;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.linkToDetailView{
  text-decoration: none;
  color: inherit;
}