@import 'styles/colors.scss';

.MainContent {
    // padding: 6rem 2rem;
    margin-top: 4rem;
    padding: 0;
    transition: all .2s;

    h1:first-child {
        margin-top: 0;
    }

    p {
        line-height: 1.5;
        text-align: justify;
    }
}


.Tile {
    // padding: 2rem;
    background-color: $color_white;
}
