@import "Styles/colors";

.link {
  color: #0771D0;
  text-decoration: none;
  font-weight: bold;
}

link:hover {
  cursor: pointer;
}

link:link {
  color: #0771D0;
}

link:visited {
  color: #0771D0;
}
