@import '../../styles/colors.scss';



.Sidebar {
    position: fixed;
    display: flex;
    top: 4rem;

    background-color: $color_white;
    flex-shrink: 0;
    transition: all 2s;

    flex-direction: column;
    user-select: none;
    transition: all .2s;
    width: 20rem;
    padding-top: 1rem;
    height: 100%;
    overflow: scroll;

    div {
        transition: background-color .1s;
        padding: 1rem 2rem;

        &:hover {
            background-color: $color_marine_200;
        }
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        width: 100%;
        transition: all .4s;

        li {
            padding: .4rem 1rem .4rem 6rem;
            cursor: pointer;

            &:active, &:hover {
                background-color: $color_marine_200;
            }

            a {
                color: $color_black;
                text-decoration: none;
                transition: color .1s;
            }
        }

        &:last-child {
            margin-bottom: 10vh;
        }
    }
}

.VerticalNav__TopLevel {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2rem;
}

.VerticalNav__TopLevelIcon {
    height: 24px;
    width: 24px;
    object-fit: scale-down;
}

.VerticalNav__TopLevelTitle {
    margin-left: 2rem;
    margin-right: auto;
    text-align: center;
}

.VerticalNav__TopLevelAngle {
    height: 1rem;
    transition: transform .3s;
}
