@import 'Styles/colors';

.Header {
    background-color: $color_marine_400;
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 1rem 0;
    transition: padding .2s;

    h1 {
        margin: 1rem;
        cursor: default;
        user-select: none;
        font-weight: lighter;
        font-size: 1.4rem;
        width: 20rem;

        a {
            color: $color_white;
            text-decoration: none;
        }
    }
}

.initialsStyle {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    background-color: $color_white;
    color: $color_marine_600;
}

.loginButton {
    display: inline-block;
    border-radius: 4px;
    background-color: $color_orange;
    border: none;
    color: $color_white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.loginButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.loginButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.loginButton:hover span {
    padding-right: 9px;
}

.loginButton:hover span:after {
    opacity: 1;
    right: 0;
}

.logoutButton {
    display: inline-block;
    border-radius: 4px;
    background-color: $color_orange;
    border: none;
    color: $color_white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.logoutButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.logoutButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.logoutButton:hover span {
    padding-right: 9px;
}

.logoutButton:hover span:after {
    opacity: 1;
    right: 0;
}


.Logo {
    height: 30px;
    width: 120px;

}

.SideNavToggle {
    margin: 1rem 1rem 1rem 1.5rem;
    cursor: pointer;
    color: $color_white;
    padding: .5rem;
    border-radius: 2rem;
    transition: background-color .4s;

    &:hover {
        background-color: $color_marine_600;
    }
}

.SearchToggle {
    width: 1.5rem;
    cursor: pointer;
    margin: 1rem 1rem 1rem auto;
    padding: .5rem;
    transition: background-color .4s;
    border-radius: 2rem;

    &:hover {
        background-color: $color_marine_600;
    }
}

.SearchInput {
    visibility: hidden;
    transition: width .4s;
    margin: 0 auto;
    padding: .5rem;
    border: 0;
    font-size: 1rem;
    width: 60vw;
    border-radius: 2px;
    outline: none;
}

.Logo {
    transition: color .2s;
}

.StickyMenu {
    color: $color_white;
    transition: all .2s;

    a {
        &:first-child {
            margin-left: 0;
        }

        margin: 1.5rem;
        color: $color_white;
        text-decoration: none;
    }
}

.githubLogo {
    height: 25px;
}